.platform-ios {
  footer {
    button:nth-child(2) {
      font-size: 1.5em;
      min-height: 65px;
      margin-left: -40px;
      top: -25px;
    }
  }
}


// [fab-top] {
//   top: 0;
// }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;

  button:nth-child(2) {
    position: absolute;
    margin-left: -40px;
    top: 2px;
    left: 50%;
    border-radius: 50%;
    min-height: 45px;
    // font-size: 2em;
    background: $primary;
    color: white;
    border: 1px solid $primary;
  }


  button:nth-child(1) {
    // padding-left: 0;
    left: 0px;
  }

  button:nth-child(3) {
    position: absolute;
    // padding-right: 0;
    right: 3px;
  }

  .toolbar {
    overflow: initial;
  }

  .toolbar-background {
    // background: none;
    // border: none;
  }

}