.platform-ios {
  footer {
    button:nth-child(2) {
      font-size: 1.5em;
      min-height: 65px;
      margin-left: -40px;
      top: -25px;
    }
  }
}

.keyboard-open footer {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;

  button:nth-child(2) {
    position: absolute;
    margin-left: -20px;
    bottom: 1px;
    left: 50%;
    border-radius: 50%;
    min-height: 40px;
    background: $primary;
    color: white;
    border: 1px solid $primary;
  }


  button:nth-child(1) {
    left: 0px;
  }

  button:nth-child(3) {
    position: absolute;
    right: 3px;
  }

  .toolbar {
    overflow: initial;
  }

  .toolbar-background {
    background: initial;
    // border: none;
  }

}

.ui-loader {
  bottom: 10px !important;
}


// overrides
ion-content {
  // background: #f0a665;
  // background: -moz-linear-gradient(top, #f0a665 0%, #f0a665 54%, #f87d86 100%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(top, #f0a665 0%,#f0a665 54%,#f87d86 100%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(to bottom, #f0a665 0%,#f0a665 54%,#f87d86 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0a665', endColorstr='#f87d86',GradientType=0 ); /* IE6-9 */

background: #f0a665; /* Old browsers */
background: -moz-linear-gradient(-45deg, #f0a665 0%, #f0a665 54%, #f87d86 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #f0a665 0%,#f0a665 54%,#f87d86 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #f0a665 0%,#f0a665 54%,#f87d86 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0a665', endColorstr='#f87d86',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

ion-navbar {
  .toolbar-background {
    background: #E37B48;
  }
  .toolbar-title {
    color: #fff;
  }
  .search {
    position: absolute;
    right: 5px;
    top: 5px;
  }
}

form {
  .item {
    background: transparent;

    .item-inner {
      color: #fff;
    }
  }
  .item-label-floating {
    ion-label {
      color: #fff;
    }
  }
}
.bar-button-menutoggle, .back-button-icon {
  color: #fff;
  ion-icon {
    font-size: 3.1em;
  }
}
ion-menu {
  &[type=overlay] {
    z-index: 100;
  }

  ion-list {
    .item, {
      border-bottom: 1px solid transparent !important;
      color: #fff;
    }

    button.item {
      background: transparent;
    }

    ion-icon {
      font-size: 3em !important;
    }
    ion-label {
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: 1.3em !important;
    }
  }
}