<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    Nova Loja
  </ion-title>
</ion-navbar>

<ion-content padding class="place">

  <form #newShopForm="ngForm">

    <ion-list>

      <ion-item>
        <ion-label floating>Nome da loja</ion-label>
        <ion-input type="text" [(ngModel)]="nameModel" ngControl="name" #name></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Dentro de uma galeria?</ion-label>
        <ion-toggle [(ngModel)]="isGalleryModel" ngControl="isGallery" #isGallery></ion-toggle>
      </ion-item>


      <div *ngIf="isGalleryModel">

        <ion-item>
          <ion-label>Galeria</ion-label>
          <ion-select [(ngModel)]="galleryModel" ngControl="gallery" (change)="onUpdateGallery()">
            <ion-option *ngFor="#g of galleries" [value]="g.id">{{g.name}}</ion-option>
          </ion-select>
        </ion-item>


        <ion-item>
          <ion-label floating>Número</ion-label>
          <ion-input type="text" [(ngModel)]="numberModel" ngControl="number" #number></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Corredor</ion-label>
          <ion-input type="text" [(ngModel)]="streetModel" ngControl="street" #street></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Esquina</ion-label>
          <ion-toggle [(ngModel)]="isCornerModel" ngControl="isCorner" #isCorner></ion-toggle>
        </ion-item>

        <ion-item *ngIf="isCornerModel">
          <ion-label floating>Esquina com corredor</ion-label>
          <ion-input type="text" [(ngModel)]="streetCornerModel" ngControl="streetCorner" #streetCorner></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Andar</ion-label>
          <ion-select [(ngModel)]="floorModel" ngControl="floor">
            <ion-option *ngFor="#f of floors" [value]="f">{{f}}</ion-option>
          </ion-select>
        </ion-item>

      </div>

      <div *ngIf="!isGalleryModel">

        <ion-item>
          <ion-label>Rua</ion-label>
          <ion-select [(ngModel)]="routeModel" ngControl="route">
            <ion-option *ngFor="#r of routes" [value]="r.id">{{r.name}}</ion-option>
          </ion-select>
        </ion-item>

      </div>

      <div>
        <field-categories (selectedCategoriesChange)="categoriesChange($event);"></field-categories>
      </div>

    </ion-list>

  </form>

  <button (click)="onUpdateLocation()" type="submit" [disabled]="!mapping || updating" primary><ion-icon name="refresh-circle"> Atualizar</ion-icon></button>

  <p>Minha Localização. Lat: {{currentLat}}, Lng: {{currentLng}}</p>

  <button (click)="onStart()" type="submit" [disabled]="mapping || updating" block large>COMEÇAR</button>

  <button (click)="onFinish()" type="submit" [disabled]="!mapping" block large>FINALIZAR</button>

  <div id="map"></div>

</ion-content>