<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>{{shop.name}}</ion-title>
</ion-navbar>

<ion-content class="shop">

  <div class="content">
    <img src="{{shop.image}}" alt=""/>
    <div padding>

      <h1>
        {{shop.name}}
      </h1>

      <div class="description">
        {{shop.description}}
      </div>

      <div class="categories" *ngIf="categoryNames">
        {{categoryNames.join(', ')}}
      </div>

      <address *ngIf="shop.address">
        {{shop.address}}
      </address>

    </div>
  </div>
</ion-content>